*{
    margin: 0;
    padding: 0;
}

/*css identifier*/
#principal_id {
  color: #4E3636;
}
h4
{
    color: #4E3636;
    background-color: rgba(149, 235, 206, 0.349);
    align-items: center;
    padding: 15px;
    border: 5px solid #4E3636;
    margin: 50px;

}
span{
    color: #CD1818;
}

div {
  color: #4E3636;
  background-color: rgba(149, 235, 206, 0.349);
  padding: 15px;
  border: 5px solid #4E3636;
  margin: 50px;
}

/*css class*/
.inverter {
    color: #75c2c4;
    background-color: #4E3636;
    padding: 15px;
    border: 5px solid rgba(149, 235, 206, 0.349);
    margin: 50px;
  }

.iFrameText{
    color: #4E3636;
    background-color: rgba(149, 235, 206, 0.349);
    padding: 15px;
    border: 5px solid #4E3636;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 1px;
    width: 837px;
}

.iFrameAdd{
    color: #4E3636;
    background-color: rgba(149, 235, 206, 0.096);
    padding: 1px;
    border: 2px solid #4E3636;
    margin-left: 50px;
    margin-top: 1px;
    margin-right: 2px;
    height: 1000px;
    width: 870px;
}
a:link {
  color: #CD1818;
}

a:visited {
color: #116D6E;
text-decoration: none;
}

a:hover{
    color: black;
    text-decoration:dotted;
}

table{
    width: 100%;
}

table, th, td{
    border: 1px solid black ;
    border-collapse: collapse;
    /*border-spacing: 5px;*/
    padding: 5px;
}

td{
    text-align: center;
    color:white;
}

th{
    text-align: left;
    color: #24002E;
    background-color: #B9A5FA;
}

tr:nth-child(even){
    background-color:#410DA8;
}

tr:nth-child(odd){
    background-color:#320054;
}
caption{
    color: #410DA8;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 30px;
    line-height: 50px;
}

ul{
    list-style-type: none;
    background-color: #410DA8;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #410DA8;
}

ol{
    list-style: none;
    counter-reset: counter;
}

ol li{
    counter-increment: counter;
}

ol li::before{
    content: 'Option ' counter(counter) ' - ';
    color: #B9A5FA;
}

ol li::after{
    content: '.';
}

h3{
    color: #CD1818;
}

dl dt{
    color: #321E1E;
    margin: 5px;
}

dl dd{
    color: #4E3636;
    margin-left: 72px;
}

header{
    color: #f72585;
    text-align: center;
    font-size: 20px;
}

nav{
    width: 20%;
    float: left;
}

nav a{
    background-color: #f71570;
    border-radius: 10px 0 10px 0;
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;

}

section{
    float: right;
    width: 75%;
    color: #7209b7;
    border-radius: 5px;
    box-shadow: 1px 0 4px rgb(0,0,0,.2);
    margin-bottom: 15px;
    padding: 15px;
}

aside{
    float:right;
    width: 30%;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    color: #4361ee;
    box-shadow: inset 5px 0 5px -5px #4895ef;
}

footer{
    clear: both;
    padding: 1px;
    text-align: center;
}

footer a{
    text-decoration: none;
}